header{
	border:1px solid  #252850;
	position:relative;
	background-color:  #1D1F2F;
	height:105px;
	line-height: 60px;
}
#titolo{
    color:white;
	text-align: center;
	font-family: calibri;
	vertical-align: center;
	font-size:50px;
}
#img{
	height:450px;
	width:100%;
}
#divContenitore{
	position: relative;
	height:2050px;
	top:-130px;
	text-align: center;
}
#tabella{
	margin: 0 auto;
    display: table;
	color:#252850;
    font-family: calibri;
    font-weight: bold;
    font-size: 28px;
	list-style: none;
}
#divTesto1{
    position: relative;
    top:-250px;
    left: 20px;
}
#testo1{
    font-family: calibri;
    font-weight: bold;
    font-size: 38px;
	list-style: none;
}
.link{
	color: #252850;
}
.immaginiElenco{
    height: 350px;
    width: 450px;
}
.bottone{
	display: inline; 
	margin-left: 10px; 
	align-items: center;
	border-color: #252850;
	background-color: #4682B4;
    color: white;
}
footer{
	position:relative;
	bottom:0%;
	border:3px solid #252850;
	background-color:#252850;
	width:100%;
	height:45px;
	text-align:center;
	font-family:calibri;
	font-weight:bold;
	line-height:43px;
}
