.immagini{
    height: 300px;
    width: 400px;
}
#testo{
    font-family: calibri;
    color: #252850;
    font-size: 18px;
    font-weight: bold;
}
#contenitore{
    position: relative;
    height: 700px;
    text-align: center;
}
#tabella{
    margin: 0 auto;
    display: table;
}
#divBottone{
    position: relative;
    height: 50px;
    text-align: right
}
#link{
    color: white;
    text-decoration: none;
}
#bottone{
    height: 40px;
    width: 80px;
    font-family: calibri;
    font-size: 20px;
    font-weight: bold;
    background-color: #4682B4;
    color: white;
}